include /etc/sway/config.d/*

{% import "./.config/personal/colors" as colors %}
{% import "./.config/personal/fonts" as fonts %}
{% import "./.config/personal/images" as images %}

# Sway Borders

border_images.focused "{{ images.border_images_focused  }}"
border_images.focused_inactive "{{ images.border_images_focused_inactive  }}"
border_images.unfocused "{{ images.border_images_unfocused  }}"
border_images.urgent "{{ images.border_images_urgent  }}"

# Variables

set $term urxvt

set $menu dmenu_path | dmenu | xargs swaymsg exec --

set $mod Mod4

set $foreground {{ colors.foreground  }}
set $background {{ colors.background }}

set $color0 {{ colors.color0 }}
set $color1 {{ colors.color1 }}
set $color2 {{ colors.color2 }}
set $color3 {{ colors.color3 }}
set $color4 {{ colors.color4 }}
set $color5 {{ colors.color5 }}
set $color6 {{ colors.color6 }}
set $color7 {{ colors.color7 }}
set $color8 {{ colors.color8 }}
set $color9 {{ colors.color9 }}
set $color10 {{ colors.color10 }}
set $color11 {{ colors.color11 }}
set $color12 {{ colors.color12 }}
set $color13 {{ colors.color13 }}
set $color14 {{ colors.color14 }}
set $color15 {{ colors.color15 }}

# Device Specific

output HDMI-A-1 resolution 3840x2160 scale 1

output eDP-1 resolution 1920x1080 scale 1

input type:keyboard {
    xkb_layout gb
}


# Customization

font "{{ fonts.mono }}" Medium 11

output * bg "{{ images.wallpaper }}" fill

bar {
    status_command waybar
}

client.focused $color0 $background $foreground $color7 $background

gaps inner 10

default_border none

default_floating_border none

# Controls

bindsym $mod+Return exec $term

bindsym $mod+Shift+q kill

bindsym $mod+d exec $menu

floating_modifier $mod normal

bindsym $mod+Shift+c reload

bindsym $mod+Shift+e exec swaynag -t warning -m 'You pressed the exit shortcut. Do you really want to exit sway? This will end your Wayland session.' -b 'Yes, exit sway' 'swaymsg exit'

bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

bindsym $mod+1 workspace number 1
bindsym $mod+2 workspace number 2
bindsym $mod+3 workspace number 3
bindsym $mod+4 workspace number 4
bindsym $mod+5 workspace number 5
bindsym $mod+6 workspace number 6
bindsym $mod+7 workspace number 7
bindsym $mod+8 workspace number 8
bindsym $mod+9 workspace number 9
bindsym $mod+0 workspace number 10 

bindsym $mod+Shift+1 move container to workspace number 1
bindsym $mod+Shift+2 move container to workspace number 2
bindsym $mod+Shift+3 move container to workspace number 3
bindsym $mod+Shift+4 move container to workspace number 4
bindsym $mod+Shift+5 move container to workspace number 5
bindsym $mod+Shift+6 move container to workspace number 6
bindsym $mod+Shift+7 move container to workspace number 7
bindsym $mod+Shift+8 move container to workspace number 8
bindsym $mod+Shift+9 move container to workspace number 9
bindsym $mod+Shift+0 move container to workspace number 10

bindsym $mod+b splith
bindsym $mod+v splitv

bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

bindsym $mod+f fullscreen

bindsym $mod+Shift+space floating toggle

bindsym $mod+space focus mode_toggle

bindsym $mod+a focus parent

bindsym $mod+Shift+minus move scratchpad

bindsym $mod+minus scratchpad show

mode "resize" {
    bindsym Left resize shrink width 10px
    bindsym Down resize grow height 10px
    bindsym Up resize shrink height 10px
    bindsym Right resize grow width 10px

    bindsym Return mode "default"
    bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"

# Finalization

exec xrdb ~/.Xresources
