<?xml version = '1.0'?>
<!DOCTYPE fontconfig SYSTEM 'fonts.dtd'>
<fontconfig>

{% import "./.config/personal/fonts" as fonts %}

<alias>
 <family>serif</family>
 <prefer><family>{{ fonts.serif }}</family></prefer>
</alias>

<alias>
 <family>sans-serif</family>
 <prefer><family>{{ fonts.sans }}</family></prefer>
</alias>

<alias>
 <family>sans</family>
 <prefer><family>{{ fonts.sans }}</family></prefer>
</alias>

<alias>
 <family>mono</family>
 <prefer><family>{{ fonts.mono }}</family></prefer>
</alias>

<alias>
 <family>monospace</family>
 <prefer><family>{{ fonts.mono }}</family></prefer>
</alias>

</fontconfig>
