{% import "./.config/personal/colors" as colors %}
{% import "./.config/personal/fonts" as fonts %}
{% import "./.config/personal/images" as images %}

!URxvt.backgroundPixmap: {{ images.background }};style=tiled

URxvt.letterSpace = -1

URxvt.scrollBar: false

Xft.autohint: 0
Xft.lcdfilter lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

*font: xft:{{ fonts.terminal }}:pixelsize=12:style=regular
*boldFont: xft:{{ fonts.terminal }}:pixelsize=12:style=bold

*foreground: #{{ colors.foreground }}
*background: #{{ colors.background }}

*color0: #{{ colors.color0 }}
*color8: #{{ colors.color8 }}

*color1: #{{ colors.color1 }}
*color9: #{{ colors.color9 }}

*color2: #{{ colors.color2 }}
*color10: #{{ colors.color10 }}

*color3: #{{ colors.color3 }}
*color11: #{{ colors.color11 }}

*color4: #{{ colors.color4 }}
*color12: #{{ colors.color12 }}

*color5: #{{ colors.color5 }}
*color13: #{{ colors.color13 }}

*color6: #{{ colors.color6 }}
*color14: #{{ colors.color14 }}

*color7: #{{ colors.color7 }}
*color15: #{{ colors.color15 }}

